*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
 
}

header{
    text-align: center;
}

#Titolo{
    color: #e91e63;
    font-family: "Fredoka One";
}

header div{
    margin-top: 50px;
}

header p{
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Fredoka One";
}

main p{
    display: inline-block;
    font-family: "Fredoka One";
    color: white;
    width: 200px;
    padding-left: 30px;
    padding-top: 30px;
}

img{
    display: inline-block;
    float: left;
    width: 150px;
}

a{
    text-decoration: none;
    color:aqua
}

span{
    font-family: "Fredoka";
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.targa{
    background-color:#000000d9;
    width: 400px;
    display: inline-block;
    float: left;
}

.riga{
    margin-top: 100px;
}

.conteiner{
    margin-left: 10%;
    margin-right: 10%;
}

.sinistra{
    margin-right: 165px;
}

.destra{
    margin-left: 165px;
}